<div>
	<%= link_to '工作階段', admin_project_path(project), class:"btn btn-primary btn-xs pull-left" %>
	<%= link_to '工作項目', admin_project_tasks_path(project), class:"btn btn-primary btn-xs pull-left", style: "margin-left: 3px;" %>
	<%= link_to '工作成果', admin_project_uploads_path(project), class:"btn btn-primary btn-xs pull-left", style: "margin-left: 3px;" %>
</div>

<br><br>