<h2><%= @project.name %><small>(<%= @group.name %>)</small></h2>
<%= simple_format(@project.info) %>
<hr>
<div id="main">
	<div id="stage-list" class="pull-left col-xs-3">
		<% @lessons.each do |lesson| %>
			<ul class="list-unstyled">
				<li><%= link_to "[第#{lesson.num}週] "+lesson.name, project_lesson_path(@project, lesson) %></li>
			</ul>
		<% end %>	
	</div>

	<div id="content" class="col-xs-9">

	</div>
		
		
</div>

