<h2><%= @project.name %><small>(<%= current_user.group(@project)%>)</small></h2>

<div id="main">
	<div id="stage-list" class="pull-left col-xs-2">
		<% @stages.each do |stage| %>
			<ul class="list-unstyled">
				<li><%= link_to stage.name, project_stage_path(stage) %></li>
			</ul>
		<% end %>	
	</div>

	<div id="stage-content" class="col-xs-10" style="background-color: #eee">
		sss
		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio assumenda dignissimos dolor aliquid veritatis nobis ex ducimus distinctio tenetur fuga, cupiditate expedita ipsa similique aperiam perferendis nostrum obcaecati, a numquam.</div>
		<div>Dolorum cupiditate illum sed odit. Et, quo, culpa optio velit ipsa distinctio minima facere rerum, consectetur nobis aperiam? Totam quisquam, earum ex illum at modi accusamus saepe, facere natus ad!</div>
		<div>Dolore quae libero dolores delectus incidunt, magnam harum quaerat sit esse possimus perferendis, autem architecto impedit facilis deleniti ut quas et iste aspernatur expedita fugit quis deserunt dignissimos commodi animi!</div>
		<div>Deleniti similique odio quaerat exercitationem recusandae est, corrupti quae dolore earum nobis sed reiciendis laboriosam eaque, esse quis. Libero mollitia provident voluptatem sapiente, recusandae exercitationem illo odit illum dolorum reiciendis!</div>
		<div>Praesentium sint ullam fugiat inventore perspiciatis corrupti doloribus adipisci ea doloremque nostrum molestiae, dolores, reiciendis odit ipsam voluptates enim consectetur vel, sed nulla voluptas at dolorum ipsum suscipit dolor iste!</div>
		<div>Delectus natus accusantium impedit alias odit, et quae obcaecati officia nulla. Laudantium nulla labore rem commodi tenetur perferendis quasi illum est suscipit iure tempora voluptatem, ipsa, quaerat, corporis! Libero, cumque?</div>
		<div>Cupiditate unde nam enim corporis vero eos aliquid aliquam tenetur omnis consequuntur perspiciatis impedit ab, sint excepturi. Excepturi iure maiores hic, repellat totam, perferendis, ducimus illum beatae quae rerum exercitationem.</div>
		<div>Illum iure dolorum temporibus, culpa quis, maiores, vitae sed molestiae nisi optio consequuntur! Magnam, fuga quod impedit cupiditate sint cumque, in similique. Amet velit veritatis aliquam natus voluptatem, nostrum corrupti.</div>
		<div>Fugit nobis adipisci minima, possimus tempore eligendi unde praesentium laudantium, deserunt veritatis veniam blanditiis rem, voluptas dignissimos nam amet. Ea eius quos necessitatibus nam impedit voluptas quia, laboriosam voluptate vitae!</div>
		<div>Distinctio optio delectus, voluptate, possimus nam commodi adipisci aliquid sunt repellat tempore voluptas laborum perferendis temporibus rem voluptates, saepe eum enim ratione pariatur est maiores culpa ipsam? Porro, optio, soluta.</div>
		<div>Velit illo expedita excepturi, laboriosam, repellat animi deleniti tempora officiis. Ducimus impedit sapiente at, non eius soluta sed ab est dolorem id cumque commodi, magni laudantium excepturi voluptate harum accusantium.</div>
		<div>Accusantium tenetur facilis blanditiis a ullam laborum atque praesentium, dolor dolore magni, earum ratione deserunt architecto nam maiores aperiam eum laboriosam. Fugit vel facere debitis dolores, blanditiis minima nisi, earum.</div>
		<div>Accusantium doloremque laudantium, distinctio totam a voluptates laboriosam, accusamus deserunt tenetur dignissimos consequatur voluptas corporis, earum iure ad nemo. Ut consequuntur est nulla alias provident tempore doloremque aspernatur nobis, omnis!</div>
		<div>Temporibus pariatur nobis ad ipsam aut dolores nihil ex dolore quasi repudiandae illum, nulla unde corporis quod natus at sit rem magni, consectetur. Ut dignissimos, minima doloribus illum ipsa pariatur.</div>
		<div>Quis eaque nisi corporis voluptatibus impedit quos doloremque aut quam, magni dignissimos aperiam quae velit iusto cum, modi aliquam, animi dicta? Temporibus tempora architecto facilis labore facere nam numquam veritatis.</div>
		<div>Architecto maxime laboriosam impedit reprehenderit eos cum, velit, hic quaerat quae sint, minima consequatur expedita aspernatur molestias vitae veritatis sequi eligendi! Cum eligendi culpa omnis maiores earum repellat asperiores cupiditate!</div>
		<div>Harum laudantium vero unde id officia natus rem perferendis, enim soluta, doloribus, corporis. Delectus aliquid libero eos ad recusandae. Enim, reprehenderit deserunt repudiandae quia hic adipisci, totam est vel dolorem.</div>
		<div>Molestiae sequi, blanditiis aperiam aut, incidunt ea iste tempora, nam assumenda, totam dignissimos inventore! Expedita dolorem, similique ducimus consequatur placeat ab natus vel enim asperiores voluptatum, numquam labore, quo facilis!</div>
		<div>Corporis voluptatem, repellendus adipisci. Vel magnam adipisci, a provident dicta assumenda maiores. Id facere quod sed amet corporis culpa alias ab! Recusandae repellat, quae eum soluta tempora ratione, fugiat impedit.</div>
		<div>Mollitia molestias dignissimos, dolorem, ad eveniet rem odio fugit laudantium in fuga quo officiis rerum adipisci, deleniti! Fugit, expedita. Officiis esse fugiat vel impedit commodi perferendis dolor architecto, magni deleniti.</div>
	</div>
</div>

